[submodule "lib/rain.interpreter"]
	path = lib/rain.interpreter
	url = https://github.com/rainprotocol/rain.interpreter
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
